<header id="header" class="header">
  <a href="/"><img src="images/logo.png" alt="LOGOTIP" id="logo" height="128" class="logo" /></a>
  <div id="current-category" class="current-category">
    <p class="current-category-text"></p>
  </div>
  <div id="top-right" class="top-right">
    <div class="cart-container">
      <span id="total-amt" class="total-amt">0</span>
      <a href="cart" id="cart-link" class="cart-link">
        <img src="images/cart.png" alt="CART" height="32" />
      </a>
    </div>
    <img src="images/search.png" alt="SEARCH" height="32" />
  </div>
</header>
