<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" />
    <title>The Fog Man</title>
    <link href="styles/index.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body id="container" class="container">
    <%- include('partials/header'); %>
    <section id="greet" class="greet">
      <img src="" alt="GREET IMAGE" id="greet-image" class="greet-image" />
      <p id="greeting" class="greeting">
        Welcome to my fog store. Be sure to expect very offensive jokes, and
        enjoy your stay.
      </p>
    </section>
    <aside id="sidebar" class="sidebar">
      <nav id="categories" class="categories">
        <ul>
          <% for (const cat of categories) { %>
          <li id="category-<%= cat.id %>" class="category"><%= cat.name %></li>
          <% } %>
        </ul>
      </nav>
      <section id="actions" class="actions">
        <a href="#">Kontakt</a>
        <br />
        <a href="#">Newsletter</a>
        <br />
        <a href="#">Prijavi se</a>
      </section>
    </aside>
    <main id="content" class="content">
      <section id="products" class="products"></section>
    </main>
    <script type="module" src="scripts/main.js"></script>
  </body>
</html>
